# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\JavaProjects\Quartz\Beks_Ulan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
